# Support Vector Machine

In [1]:
"""It's all about finding hyperplanes."""

"It's all about finding hyperplanes."

In [2]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors, svm
import pandas as pd

In [ ]:
df = pd.read_csv("Data/breast-cancer-wisconsin.data")
"""
Editng single missing data
In .names file we saw the missing data is shown with ?
"""
df.replace('?', -99999, inplace=True)
"""id column is pretty useless. Also it ruins the KNN accuracy."""
df.drop(columns='id', inplace=True)
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [ ]:
X = np.array(df.drop(columns=["class"]))
y = np.array(df["class"])

In [ ]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

clf = svm.SVC(kernel = "linear")
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
accuracy

0.9785714285714285

In [ ]:
example_measures = np.array([[4, 2, 1, 1, 1, 2, 3, 2, 1], [4, 2, 1, 2, 2, 2, 3, 2, 1]])
example_measures = example_measures.reshape(len(example_measures), -1)

prediction = clf.predict(example_measures)
print(prediction)

[2 2]